# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Vite
.vite/

# Environment
.env
.env.local
.env.*.local

# Editor
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# PWA
dev-dist/
